annotated-types==0.7.0
anyio==4.9.0
arpeggio==2.0.2
attrs==25.3.0
certifi==2025.6.15
click==8.2.1
colorama==0.4.6
debugpy==1.8.14
dill==0.4.0
dnspython==2.7.0
email-validator==2.2.0
fastapi-cli[standard]==0.0.7
fastapi[standard]==0.115.12
greenlet==3.2.3
grpcio==1.73.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
jinja2==3.1.6
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
packaging==25.0
parver==0.5
pip==25.1.1
pluggy==1.6.0
protobuf==6.31.1
psycopg2==2.9.10
pulumi-aws==6.83.0
pulumi==3.177.0
pydantic-core==2.35.1
pydantic-settings==2.9.1
pydantic==2.11.7
pygments==2.19.1
pytest==8.4.0
python-dotenv==1.1.0
python-multipart==0.0.20
pyyaml==6.0.2
rich-toolkit==0.14.7
rich==14.0.0
semver==3.0.4
shellingham==1.5.4
sniffio==1.3.1
sqlalchemy==2.0.41
sqlmodel==0.0.24
starlette==0.46.2
typer==0.16.0
typing-extensions==4.14.0
typing-inspection==0.4.1
uvicorn[standard]==0.34.3
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
