name: Merge to main
on:
  push:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  test-microservices:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [families-api, geographies-api, concepts-api]
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - run: just test ${{ matrix.service }}
  deploy-microservices:
    needs: test-microservices
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [staging, production]
    environment: ${{ matrix.environment }}
    env:
      SERVICES: families-api geographies-api concepts-api data-in-pipeline
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/navigator-backend-github-actions-deploy
          role-session-name: GitHub_to_AWS_via_FederatedOIDC_${{ matrix.environment }}
          aws-region: eu-west-1
      - uses: aws-actions/amazon-ecr-login@v2
      # we use python / uv in some build scripts and testing
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --all-packages
      - run: |
          for service in $SERVICES; do
            just deploy $service ${{ matrix.environment }} latest
            just deploy $service ${{ matrix.environment }} ${{ github.sha }}
          done

  deploy-prefect:
    needs: deploy-microservices
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: astral-sh/setup-uv@v7
      - name: Sync dependencies
        working-directory: data-in-pipeline
        run: uv sync
      - name: Deploy the updated data in pipeline to Prefect
        working-directory: data-in-pipeline
        env:
          AWS_ENV: prod
          AWS_REGION: eu-west-1
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY_PRODUCTION }}
          PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
          PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
        run: just deploy-to-prefect
